<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/fonts.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/hamburger.css">
        <link rel="stylesheet" href="/styles/custom.css">
        <script src="/scripts/preloader.js" defer></script>
        <script src="/scripts/components-loader.js" defer></script>
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <meta name="description" content="北海道の現役高専生3人によって設立された、インディーゲーム制作チーム「xe-Non」の公式サイトです。" />
        <title>お探しのページは見つかりませんでした。| xe-Non</title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-CF4F4H5M2P"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CF4F4H5M2P');
        </script>
    </head>
    <body>
    {% include site-header.html %}
        <main>
            <div class="header-margin"></div>
            <div class="notfound">
                <h1 class="NF_404">404 NotFound</h1>
                <h2 class="jp_text">お探しのページは移動、編集、または削除された可能性があります。</h2>
                <a href="/" class="to_toppage">トップページへ戻る</a>
            </div>
        </main>
    {% include site-footer.html %}
    </body>
    
</html>
