
:root{
    --main-text        : #333;
    --main-bg          : #ffffff;
    --sec-bg           : #f5f5f5;
    --logo-data        : url(../images/title-black.svg);
    --news-field-color : linear-gradient(180deg, rgba(207, 233, 255, 1), rgb(255, 255, 255));
    --news-field-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.2);
    --sec-contents-text: none;
    --news-contents-title-bg: #333;
    --news-contents-title-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text        : #ffffff;
        --main-bg          : #15202B;
        --sec-bg           : #15202B;
        --logo-data        : url(../images/title-white.svg);
        --news-field-color : linear-gradient(180deg, rgba(39, 47, 54, 1), rgba(78, 79, 81, 1));
        --news-field-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.2);
        --sec-contents-text: 0px 2px 15px #2a2a2a;
        --news-contents-title-bg: #ffffff89;
        --news-contents-title-text: #15202B;
    }
}

*{
    margin: 0;
    height: auto;
}

header{
    display: flex;
    background:none;
    position: fixed;
    width: 100%;
    height: 80px;
    transition: .2s;
    z-index: 1;
    background: var(--main-bg);
}

.hamburger{
    display: none;
}

main{
    min-height: 100vh;
    height: fit-content;
    background: var(--main-bg);
}

/*ヘッダーロゴのサイズ指定(全端末共通)*/
.header-logo{
    position: relative;
    margin: auto 0;
    flex: none;
    height: auto;
    margin-left: 10%;
}

#header-logo{
    display: flex;
    max-width: 150px;
    width: 100vw;
    height: 80px;
    background-size: contain;
    background-image: var(--logo-data);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}

.header-menu{
    position: absolute;
    right: 10%;
    list-style: none;
    line-height: 80px;
}

#header nav{
    height: auto;
    width: fit-content;
    overflow: hidden;
    width: 100%;
}

.header-menu li{
    position: relative;
    width: 140px;
    text-align: center;
    float: left;
}

header nav a{
    font-size: 1.1em;
    text-decoration: none;
    padding: 10px 15px;
    background:linear-gradient(transparent 0%, var(--main-text) 0%);
    color: var(--main-text);
    background-repeat: no-repeat;
    transition:background-size .15s;
    background-size: 0% 100%;
}

header nav a:hover{
    color: var(--main-bg);
    background-size: 100% 100%;
}

header nav a::after {
    content: attr(data-txt);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    line-height: 80px;
    clip: rect(0,0,100px,0);
    color: var(--main-bg);
    transition: clip .15s;
}

header nav a:hover::after {
    clip: rect(0,300px,100px,0);
}

.header-margin{
    height: 80px;
}

.content-top{
    height: calc(100vh - 80px);
}

.content-top img{
    height: calc(100vh - 80px);
    width: 100%;
    object-fit:cover;
}

.content-top-title{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

/*---ここからトップページメインコンテンツ---*/

.prevention_overflow{
    overflow: hidden;
}

.content-center{
    background-color: #f0f0ee;
    height: 1000px;
    color: #333;
}

.content-center p{
    margin-top: 30px;
    font-size: 2em;
    text-align: center;
}

.news_title, .news_title_sub{
    font-family: "LineSeed_Bd";
    color: var(--main-text);
}

.news_title{
    font-size: 3rem;
}

.news_title_sub{
    font-size: 2rem;
}

.news_field{
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    padding-bottom: 50px;
}

.news_list{
    width: 85%;
    padding: 30px 5%;
    min-height: 300px;
    height: fit-content;
    background-image: var(--news-field-color);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: var(--news-field-shadow);
    font-family: "LineSeed_Bd";
}

.news_list li{
    list-style:none;
    border-bottom:1px solid var(--main-text);
}
.news_list a{
    display: inline-block;
    text-decoration:none;
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--main-text);
}
.news_list a:hover .post_title{
    text-decoration: underline;
}
.item_news:nth-child(1){
    border-top:1px solid var(--main-text);
    margin-top: 0;
}

.post_title{
    font-size: 1.5rem;
}

.about_xenon, .projects{
    background-color: var(--sec-bg);
    padding: 50px 0;
}

.sec_title{
    margin-top: 50px;
    color: var(--main-text);
    font-family: 'SourceHanSans';
    font-size: 2.3rem;
    width: fit-content;
}

.title_m, .title_b{
    background-image: linear-gradient(90deg, rgba(203, 14, 255, 1), rgba(161, 65, 253, 1));
    text-shadow: 0px 2px 20px #181818;
    padding: 0 30px;
    color: white;
    box-shadow: var(--news-field-shadow);
}

.title_left{
    text-align: left;
}

.title_right, .title_right h1, .title_right p{
    display: block;
    margin-left: auto;
}

.title_m{
    margin-top: 20px;
    font-family: 'LineSeed_Bd';
    font-size: 3rem;
    width: fit-content;
}

.xenon_color{
    color: #4ecaff;
}

.section_contents{
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 14px;
    background-color: #eeeeee00;
    border: 5px dotted #B200FF;
    padding: 20px 10px;
}

.section_contents_text{
    text-shadow: var(--sec-contents-text);
    color: var(--main-text);
    font-family: 'LineSeed_Bd';
    font-size: 3rem;
}

.key_member .section_contents{
    border:none;
}

.key_member_list{
    list-style: none;
    color: var(--main-text);
    font-family: "LineSeed_Bd";
    padding: 0;
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.key_member_list li{
    padding: 0px 10px;
    text-align: center;
    width: fit-content;
    color: white;
}

.member_icon{
    padding: 10px 0;
    background: #00133f;
}

.key_member_list img{
    width: 250px;
}

.member_name{
    background-color: #3d444d;
    border-radius: 10px 10px 0 0;
    padding: 10px 40px;
}

.member_links{
    background-color: #3d444d;;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:  0 0 10px 10px;
    display: flex;
    justify-content: space-evenly;
}

.member_links a{
    display: inline-block;
}

.member_links img{
    border-radius: 10px;
    width: 50px;
}

.project_title, .project_explanation{
    color: var(--main-text);
    &.project_title{
        font-family:"LineSeed_Bd"
    }
    &.project_explanation{
        font-family: "LineSeed_Rg";
    }
}

.Annotation{
    font-family: "LineSeed_Rg";
    color: rgb(255, 48, 48);
}

footer{
    padding: 20px;
    min-height: 170px;
    background: rgb(34, 34, 34);
}

.social_links{
    color: white;
    float: right;
    font-family: 'SourceHanSans';
}
.xenon_links{
    display: flex;
    width: fit-content;
    margin: 0 auto;
}
.xenon_links img{
    width: 60px;
    padding: 10px;
    border-radius: 10px;
}
.copy_right{
    color: white;
    font-family: 'SourceHanSans';
    float: left;
}
.footer_logo img{
    margin-top: 10px;
    width: 150px;
}
.footer_sep{
    width: 90%;
    margin: 0 auto;
    height: 100px;
}
.footer_innner_bottom{
    margin-top: 10px;
    display: flex;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    justify-content: space-between;
}
.site_links{
    float: right;
    right: 0;
}
.site_links a{
    padding: 0 20px;
    text-decoration: none;
    color: white;
}
.site_links a:nth-child(n+2){
    border-left: 2px solid #CCC;
}

/*画像コンテンツの保存禁止*/
.content-img-about{
    pointer-events: none;
    /* SPの長押し禁止 */
    -webkit-touch-callout:none; 
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    user-select:none;
}
